# .gitignore

# Python venv
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dataset (don't track raw or processed data)
data/raw/
data/processed/
models/
data/traffic_signs/

.ropeproject
.pre-commit-config-yaml
